div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-size: 2rem;
    font-weight: bolder;
}

#success {
    color: green;
}