<div>
    <h1>Why Make This?</h1>
    <p>
        Ever notice how often you check the timer or your progress? You're not even a mile in your run and you're checking
        how far you've gone. You're 10 seconds into a plank and stare at the clock waiting for the minute to end. You're
        counting how many math problems you have left. This timer is meant to help you to learn how to focus on the current task
        instead of focusing on how far you have to go.
    </p>
    <br>
    <p>
        So set the timer, do a plank, some chores or whatever you need to do!
        Maybe even challenge yourself with a high upper limit.
    </p>
    <button routerLink="/">Get Started</button>
</div>